@use "../_variables" as *;

#contact-content {
  max-width: $md-width;
}

.form-control, .form-control:focus, 
.btn, .btn:hover, .btn:active:hover, .btn:active:focus, .btn:disabled {
  color: white;
  font-family: "Iceland";
  background-color: black;
  border: 2px solid white;
  transition: opacity 0.15s;
}

.grecaptcha-badge { 
  visibility: hidden; 
}

@media only screen and (max-width: $mobile-breakpoint) {
  #contact-content {
    width: $xs-width;
  }
}
