@use "src/_variables" as *;

.Main > * {
  height: 100%;
  background-color: black;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  overflow: hidden;
}

@media only screen and (max-height: $height-breakpoint) {
  .Main > * {
    height: #{calc($height-breakpoint - $nav-height)};
  }
}